* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c192c;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

/* MAIN WRAPPER */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* ----------FLOATING CHARACTERS BACKGROUND--------- */
.characters {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
}

.characters span {
    position: absolute;
    bottom: -50px;
    font-size: 22px;
    font-weight: bold;
    color: rgba(79, 195, 220, 0.8);
    text-shadow: 
        0 0 10px rgba(79, 195, 220, 0.8),
        0 0 10px rgba(79, 195, 220, 0.6);
    animation: floatup linear infinite;
    user-select: none;
    pointer-events: none;
}

.characters span.alt {
    color: rgba(255, 45, 117, 0.8);
    text-shadow: 
        0 0 10px rgba(255, 45, 117, 0.8)
        0 0 10px rgba(255, 45, 117, 0.6);
}

@keyframes floatup {
    0% {
        transform: translateY(0) scale(0.5);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateY(-110vh) scale(1.2);
        opacity: 0;
    }
}

/* ----------FOREGROUND CONTENT--------- */
.content {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* PASSWORD CARD */
.password-container {
    background-color: aquamarine;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* INPUT */
.input-container {
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;
}

.input::placeholder {
    letter-spacing: 0px;
}

/* ICON */
.fa-copy {
    cursor: pointer;
    opacity: 0.3;
}

.fa-copy:hover {
    opacity: 0.7;
}

.fa-copy:active {
    transform: scale(0.9);
}

/* BUTTON */
.btn {
    background: rgb(38, 38, 38);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: rgb(2, 140, 2);
}

.btn:active {
    transform: scale(0.90);
}

/* ALERT */
.alert-container {
    position: fixed;
    z-index: 3;
    width: 300px;
    height: 50px;
    background-color: azure;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: right 0.4s ease-out;
}

.alert-container.active {
    right: -300px;
}